body {
  font-family: Calibri;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search_bar {
  width: 550px;
  height: 45px;
  font-size: x-large;
  margin: 20px;
}

.category {
  width: 95%;
  display: flex;
  justify-content: center;
}

.category_button {
  padding: 10px;
  font-size: medium;
  margin: 0 10px;
}

.category_button.active {
  background-color: #007bff;
  color: white;
}

.update_form {
  position: fixed;
  width: 375px;
  right: -15px;
  top: 0;
  bottom: 0;
  background-color: #e9e9e9;
  border: #9c9c9c 6px outset;
  border-radius: 20px;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.update_form h1 {
  font-size: 60px;
}

.update_form input {
  font-family: Calibri;
  font-size: larger;
  padding: 5px;
  width: 85%;
  border-radius: 5px;
  border: black 2px solid;
  margin-bottom: 20px;
}

.update_form button {
  padding: 8px;
  font-size: larger;
  width: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product_item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: 300px;
  text-align: center;
}

.product_item a {
  color: black;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.product_item a:hover {
  color: #007bff;
}

.product_item img {
  width: 100%;
  height: auto;
}
.product_item .add {
  margin-bottom: 10px;
}
